<div class="mt-4">
    <div class= "post-title">
      <h3>Các bài viết đã xóa</h3>
      <a href="/me/stored/posts">Current Posts</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên bài</th>
                <th scope="col">Trình độ</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id={{this._id}}>Restore</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-posts-model">Permanently Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                  Bạn không có bài viết nào đã xóa.
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!--confirm delete posts--}}
<div id ="delete-posts-model" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this post?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-post" type="button" class="btn btn-danger">Remove</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!--Delete hidden form--}}
<form method="POST" name="delete-form">
</form>
<form method="POST" name="restore-form">
</form>
<script>

    document.addEventListener('DOMContentLoaded', function(){    
        var postId;
        var deleteForm = document.forms['delete-form']
        var restoreForm = document.forms['restore-form']
        var restoreBtn = $('.btn-restore')
        $('#delete-posts-model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            postId = button.data('id') 
        }) 

        var btnDeletePost = document.getElementById('btn-delete-post')
        btnDeletePost.onclick = function(){
            deleteForm.action=`/posts/${postId}/force?_method=DELETE`
            deleteForm.submit()
        }

        restoreBtn.click(function (e){
          e.preventDefault()
          var postId = $(this).data('id')
          restoreForm.action=`/posts/${postId}/restore?_method=PATCH`
          restoreForm.submit()

        })
    })
    
</script>